{% extends 'base.html.twig' %}

{% block title %}myShop{% endblock %}

{% block body %}

<div class="container container-home">
    <div class='container'>
        <h1>Bienvenu sur myShop</h1> 
    </div>
    <div>
        <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter au site</a>
        <a href="{{ path('app_register') }}" class="btn btn-secondary">S'inscrire sur le site</a>
    </div>
   
</div>
{% endblock %}
