{% extends 'base.html.twig' %}

{% block title %}Hello HomePageController!{% endblock %}

{% block body %}
<div class="container">
    <div class='container'>
        <h1>Page d'accueil du site</h1> 
    </div>
</div>
{% endblock %}
