{% extends 'base.html.twig' %}

{% block title %}Hello CategoriecontrollerController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="form">
            <h2> Liste des categories </h2>

            <table class="table">
                <tr>
                    <th>Nom de la catégorie</th>
                    <th>Action</th>
                </tr>
                {% for categorie in categories %}  {#//categories is the variable passed from the controller containing the list of categories #}
                    <tr>
                        <td>{{ categorie.name }}
                        </td>
                        <td>
                            <a href="{{ path('app_categorie_update', {'id': categorie.id}) }}" class="btn btn-primary">Modifier</a>{# on donne le chemin de la route app_categorie_update et on precise la wildcard l'id de la catégorie #}
                            <a href="{{ path('app_categorie_remove', {'id': categorie.id}) }}" class="btn btn-danger">Supprimer</a>{# on donne le chemin de la route app_categorie_remove et on precise la wildcard l'id de la catégorie #}
                        </td>
                    </tr>
                    {% else %}
                        <p>Aucune catégorie disponible.</p>
                {% endfor %}
                            <a href="{{ path('app_categorie_new') }}" class="btn btn-success">Ajouter une catégorie</a>
            </table>
        </div>
    </div>

{% endblock %}
