{% extends 'base.html.twig' %}

{% block title %}Nouvelle Sous categorie{% endblock %}

{% block body %}
    <div class="container">
        <h1>Creer une nouvelle Sous catégorie</h1>

        {{ include('subcategorie/_form.html.twig') }}

        <a href="{{ path('app_subcategorie_index') }}" class="btn btn-outline-primary">Revenir a la liste</a>
    </div>
{% endblock %}
