{% extends 'base.html.twig' %}

{% block title %}Commande en cours{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="mt-4 mb-4"> Commande:</h1>
            
                <div class="col-4">
                    {{form_start(form) }}
                    {{ form_widget(form) }}
                        <input type="submit" class="btn btn-success mt-3" value="Continuer">
                    {{ form_end(form) }}
                </div>
            </div>    
                    <div class="col-4 mt-5">
                            <span class='text-light mb-2'>Montant a payer:</span>
                        <h3 id="card-price"> {{total}} Thunes</h3>
                            <span class='text-light mb-2'>Frais de Livraison:</span>
                        <h3>
                            <span class='text-light mb-2' id="shippingCost"></span>
                            Thunes
                        </h3>
                            <span class='text-light mb-2'> Montant total à payer:</span>
                        <h3>
                            <span class="total-price"></span>Thunes
                        </h3>
                    </div>
                    
                
        </div>
    </div> 
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>   
    <script> 
    // lorsque le document est pret (c est a dire que la page a fini de charger)
    $(document).ready(function(){
            const citySelector =$('#order_city');
            const cityValue = citySelector.val();
            // on construit l url ajax en fonction de la valeur CityValue
            const url = `/city/${cityValue}/shipping/cost`;
           function ajaxRequest(url){ 
            //requete ajax
            // on envoie une fonction de type ajax de type GET a l url construite
            $.ajax({
                url:url,
                // type GET car on va recuperer les donnees du serveur
                type:'GET',
                // fonction appelee en cas de succes
                success: function(response){
                    // on parse le contenu de la reponse en JSON pour le rendre exploitable en javascript
                    const newResponse = JSON.parse(response)
                    //on verifie que le contenu et egal a 200 (OK)
                    if (parseInt(newResponse.status) === 200){
                    // on affiche le statut de la reponse dans la console pour deboguage
                        console.log(newResponse.status)
                        $("#shippingCost").text(newResponse.content)

                    const cardPrice = parseInt($('#card-price').text());
                    const shippingCost = parseInt($('#shippingCost').text());
                    $('.total-price').text(cardPrice+shippingCost);

                    console.log(cardPrice)
                    console.log(shippingCost)
                    }
                },
                // fonction appellée en cas d erreur
                error:function(xhr,status,error){

                }
            })
           }
            //appel de la fonction Ajax
            ajaxRequest(url)

            citySelector.on('change',function() {
                const urlUpdate = `/city/${$(this).val()}/shipping/cost`;
                
                ajaxRequest(urlUpdate)
        })
        }
            
    )
    </script>

    
{% endblock %}
