{% extends 'base.html.twig' %}

{% block title %}Index des Commandes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="mt-4 mb-4"> Order index</h1>
            </div>
                <div class="col-4">
                    {{form_start(form) }}
                        <input type="submit" class="btn btn-success" value="Continuer">
                    {{ form_end(form) }}
                </div>
                
                    <div class="col-4 mt-5">
                        <h3> Montant a payer:{{total}} Thunes</h3>
                    </div>
                    <div class="col-4 mt-5">
                        <h3> Frais de Livraison:...Thunes</h3>
                    </div>
                
        </div>
    </div>    
{% endblock %}
