{% extends 'base.html.twig' %}

{% block title %}Index des Commandes{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1 class="mt-4 mb-4"> Order index</h1>
            </div>
                <div class="col-4">
                    {{form_start(form) }}
                        <input type="submit" class="btn btn-success" value="Continuer">
                    {{ form_end(form) }}
                </div>
                
                    <div class="col-4 mt-5">
                        <span class='mb-2'>Montant a payer:</span>
                        <h3> {{total}} Thunes</h3</span>>
                        <span>Frais de Livraison:</span>
                    </div>
                    
                
        </div>
    </div> 
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>   
    <script> 
    $(document).ready(function(){
            const citySelector =$('#order_city');
            const cityValue = citySelector.val();
    })
    </script>
{% endblock %}
