{% extends 'base.html.twig' %}

{% block title %}Commande en cours{% endblock %}

{% block body %}
    <div class="container">
        <p class="text-center mt-5">
            <h2>Votre commande a ete prise en compte</h2>
        </p>
    </div>
{% endblock %}